@model Dalstock_WebApp.Models.DebitViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Materiaal verbruik</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li class="active">
                <strong>Materiaal verbruik</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h3>Materiaal verbruik</h3>
                   
                </div>
                <div class="ibox-content">
                    <p>
                        Op deze pagina kunt u ingeven welke materialen op welke werven zijn verbruikt.
                    </p>
                    @using (Html.BeginForm("CreateDebitItems", "Debit", FormMethod.Post, new { enctype = "multipart/form-data", @class = "wizard-big", @id = "form" }))
                    {
                        <h1>Werf</h1>
                        <fieldset>
                            <h2>Werf</h2>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label>Vul het dossiernummer in</label>
                                        <div>
                                            @Html.DropDownListFor(m => m.Workplaces,
                            new SelectList(Model.Workplaces, "WorkplaceId", "WorkplaceId"), "Kies", new { @class = "chosen-select", @id = "workplaceDropdown" })
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div id="divPartialView" class="form-group">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <h1>Materiaal</h1>
                        <fieldset>
                            <h2>Voeg de verbruikte materialen toe</h2>
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="form-group">
                                        <label>Materiaalnummer <span id="itemNrError" class="field-validation-error"></span></label>
                                        <div>
                                            @Html.DropDownListFor(m => m.SelectedItem,
                            new SelectList(Model.Items, "ItemId", "ItemId", 1), "Kies", new
                            {
                                @class = "chosen-select form-control",
                                @id = "ItemsDropdown",
                                @onchange = "SelectedItem = this.value;"
                            })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Aantal <span id="amountError" class="field-validation-error"></span></label>
                                        <input id="amount" name="amount" type="number" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <label>Toevoegen</label>
                                        <button type="button" id="btnAdd" class="btn btn-sm btn-primary">Voeg toe</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox-content" id="divPartialView2">
                                        
                                        </div>
                                    </div>
                                </div>
                        </fieldset>                     
                        <h1>Opslaan</h1>
                        <fieldset>
                            <h2>Wilt u deze wijzigingen doorvoeren?</h2>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox-content" id="overviewPartialView">
                                        
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
        </div>
    </div>

        @section Styles {
            @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
            @Styles.Render("~/plugins/wizardStepsStyles")
            @Styles.Render("~/Content/plugins/chosen/chosenStyles")
            @Styles.Render("~/plugins/switcheryStyles")
            @Styles.Render("~/plugins/jasnyBootstrapStyles")
            @Styles.Render("~/plugins/select2Styles")
        }
        @section Scripts {
            @Scripts.Render("~/plugins/wizardSteps")
            @Scripts.Render("~/plugins/iCheck")
            @Scripts.Render("~/plugins/validate") 
            @Scripts.Render("~/plugins/jasnyBootstrap")
            @Scripts.Render("~/plugins/switchery")
            @Scripts.Render("~/plugins/chosen")
            @Scripts.Render("~/plugins/select2")

            <script type="text/javascript">

                $(document).ready(function () {
                    $("#wizard").steps();
                    $("#form").steps({
                        bodyTag: "fieldset",
                        onStepChanging: function (event, currentIndex, newIndex) {
                            //If Workplace is not correct dont allow to go forward
                            if (newIndex === 1 && $("#workplaceDropdown").val() == "") {
                                return false;
                            }
                            if (newIndex == 2 && (isNaN(parseFloat($("#ItemsDropdown").val())) || !isFinite($("#ItemsDropdown").val()) || $("#amount").val() == "")) {
                                return false
                            }
                            if (newIndex == 2) {
                                detailspage();
                            }
                            // Always allow going backward even if the current step contains invalid fields!
                            if (currentIndex > newIndex) {
                                return true;
                            }

                            // Forbid suppressing "Warning" step if the user is to young
                            if (newIndex === 3 && Number($("#age").val()) < 18) {
                                return false;
                            }

                            var form = $(this);

                            // Clean up if user went backward before
                            if (currentIndex < newIndex) {
                                // To remove error styles
                                $(".body:eq(" + newIndex + ") label.error", form).remove();
                                $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                            }

                            // Disable validation on fields that are disabled or hidden.
                            form.validate().settings.ignore = ":disabled,:hidden";

                            // Start validation; Prevent going forward if false
                            return form.valid();
                        },
                        onStepChanged: function (event, currentIndex, priorIndex) {
                            // Suppress (skip) "Warning" step if the user is old enough.
                            if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                                $(this).steps("next");
                            }

                            // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                            if (currentIndex === 2 && priorIndex === 3) {
                                $(this).steps("previous");
                            }
                        },
                        onFinishing: function (event, currentIndex) {
                            var form = $(this);

                            // Disable validation on fields that are disabled.
                            // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                            form.validate().settings.ignore = ":disabled";

                            // Start validation; Prevent form submission if false
                            return form.valid();
                        },
                        onFinished: function (event, currentIndex) {
                            var form = $(this);

                            // Submit form input
                            form.submit();
                        }
                    }).validate({
                        errorPlacement: function (error, element) {
                            element.before(error);
                        },
                        rules: {
                            confirm: {
                                equalTo: "#password"
                            }
                        }
                    });
                    $('.chosen-select').chosen({ width: "100%" });
                    $("#workplaceDropdown").change(function (event) {
                        var userId = $(this).val();
                        $.ajax({
                            url: "@Url.Action("GetWorkplace", "Items")",
                          data: { id: userId },
                          type: "Get",
                          dataType: "html",
                          success: function (data) {
                              //Whatever result you have got from your controller with html partial view replace with a specific html.
                              $("#divPartialView").html(data); // HTML DOM replace
                          },
                          error: function (request) {
                              alert(request.responseText);
                          }
                      });
                    });
                    $("#btnAdd").click(function () {
                        var itemId = $("#ItemsDropdown").val();
                        var amount = $("#amount").val();
                        var workplaceId = $("#workplaceDropdown").val();
                        if ((!isNaN(parseFloat(itemId)) && isFinite(itemId)) && amount != "") {
                            $.ajax({
                                url: "@Url.Action("AddDebitItem", "Debit")",
                                data: { id: itemId, amount: amount, workplaceId: workplaceId },
                                type: "Get",
                                dataType: "html",
                                success: function (data) {
                                    //Whatever result you have got from your controller with html partial view replace with a specific html.
                                    $("#divPartialView2").html(data);
                                    $("#itemNrError").text("");
                                    $("#amountError").text("");
                                },
                                error: function (request) {
                                    alert(request.responseText);
                                }
                            });
                        } else {
                            $("#form").validate().element("#amount");
                            $("#itemNrError").text("Dit veld mag niet leeg zijn.");
                            $("#amountError").text("Dit veld mag niet leeg zijn.");
                        }
                    });
                });
                function detailspage() {
                    
                     $.ajax({
                                url: "@Url.Action("GetToAddDebitList", "Debit")",
                                type: "Get",
                                dataType: "html",
                                success: function (data) {
                                    //Whatever result you have got from your controller with html partial view replace with a specific html.
                                    $("#overviewPartialView").html(data);
                                },
                                error: function (request) {
                                    alert(request.responseText);
                                }
                            });
                }
            </script>

            }